<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="" />
	<meta name="author" content="Me" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/twitter-bootstrap")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/css")
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href='@Url.Action("Index", "MTB_Articles")'>
					<img alt="TecBits" src="~/Content/images/tecbits.jpg" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="">@Html.ActionLink("Create New", "Create", "MTB_Articles")</li>
				</ul>
				@using (Html.BeginForm("Search", "MTB_Articles", FormMethod.Get, new { @class = "navbar-form navbar-left", @role = "search", @data_toggle = "validator" }))
	{	
					<div class="form-group">
						<input type="text" id="searchText" name="searchText" class="form-control" placeholder="Search" required pattern=".{3,10}" title="3 to 10 characters">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
@*</form>*@
	}
			</div>
			<!-- /.navbar-collaps	e -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="span9">
		<div class="row-fluid">
			<br />
			@RenderBody()
		</div>
	</div>
	<hr />
	<div>
		<footer class="text-center">
			<p>&copy; MyTecBits.com 2013</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/knockout")
	@Scripts.Render("~/bundles/toastr")
	@RenderSection("scripts", required: false)
</body>
</html>
